.list{
    @apply flex flex-col gap-4 mt-5 h-[76vh] overflow-y-scroll;
}

.list::-webkit-scrollbar{
    background-color: transparent;
    width: 4px;
}

.list::-webkit-scrollbar-thumb{
    background-color: #57B65F;
    border-radius: 10px;
}